<!DOCTYPE html>
<html>

<head>
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="public/css/style.css">
</head>

<body>
    {{template "header.html"}}

    <div class="container">
        <div class="product-container">
            {{range .}}
            <div class="product-card">
                <img src="{{.Image}}" class="product-image" alt="Product Image">
                <div class="product-title">{{.Title}}</div>
                <div class="product-price">$ {{.Price}}</div>
                <a href="/products/{{.ID}}" class="btn btn-primary product-button">View Details</a>
            </div>
            {{end}}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
